# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
.venv/
venv/
ENV/
env.bak/
venv.bak/
*.sqlite3
*.db

# VS Code
.vscode/

# Environment variables
.env
.env.*

# Docker
docker-compose.override.yml
.docker/

# Alembic
alembic/versions/*.pyc

# Mac OS files
.DS_Store

# Kubernetes files
*.yaml~

# Logs
*.log

# Coverage reports
htmlcov/
.coverage
.coverage.*

# pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pydantic
*.json

# Others
.idea/
*.swp

#GCP Credentials
balmy-elf-458808-p3-0af3cd9b3385.json